:root{
    --colorFirst: rgba(66,204,238,1);
    --colorSecond: rgba(105,245,167,1);
    --backgroundDarkColor: rgb(233, 233, 233);
    --backgroundColor: rgb(252, 252, 253);
    --defaultFontColor: rgb(28, 28, 28);
    --iconInvert: 0;
    --shadowColor: #8f8d8d;
    --hoverColor: rgb(28, 28, 28);
    --hoverShadow: #6b6b6b;
}
.icon {
    filter: invert(var(--iconInvert));
}