.tool {
    background-color: var(--backgroundDarkColor);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -2px var(--shadowColor);
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    width: 130px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tool_text{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    color: rgb(161, 166, 170);
    transition: 350ms linear;
}
.tool_text:hover {
    color: var(--defaultFontColor);
}
.accounts {
    margin-top: 50px;
}
.account {
    background-color: var(--backgroundDarkColor);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -2px var(--shadowColor);
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    width: 35em;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-right: 15px;
}
.account_username {
    position: absolute;
    margin-top: -55px;
    margin-left: 70px;
}
.account_username_value {
    position: absolute;
    margin-top: -35px;
    margin-left: 70px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
}
.account_rank {
    position: absolute;
    margin-top: -55px;
    margin-left: 270px;
}
.account_rank_value {
    position: absolute;
    margin-top: -30px;
    margin-left: 270px;
}
.account_edit {
    position: absolute;
    margin-top: -50px;
    margin-left: 400px;
    transition: 350ms linear;
}
.account_edit:hover {
    filter: drop-shadow(0px 0px 6px rgba(241, 241, 241, 0.9));
}
.account_delete {
    position: absolute;
    margin-top: -50px;
    margin-left: 450px;
    transition: 350ms linear;
}
.account_delete:hover {
    filter: drop-shadow(0px 0px 6px rgba(241, 241, 241, 0.9));
}
img {
    pointer-events: none;
}
.account_edit_username_input {
    position: absolute;
    color: var(--defaultFontColor);
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: -110px;
    margin-top: 30px;
    font-size: medium;
    width: 150px;
}
.account_edit_username_input:focus {
    outline: none;
}
.account_edit_username {
    position: absolute;
    margin-top: 20px;
    margin-left: 70px;
}
.account_edit_rank_input {
    position: absolute;
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: -40px;
    margin-top: 30px;
    font-size: medium;
    width: 150px;
}
.account_edit_rank_input:focus {
    outline: none;
}
.account_edit_rank {
    position: absolute;
    margin-top: 20px;
    margin-left: 270px;
}
.account_edit_permission {
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
}
.account_edit_permission_input {
    position: absolute;
    background: var(--backgroundColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    margin-left: -50px;
    margin-top: 30px;
    width: 50em;
    height: 12em;
    resize: none;
    transition: 350ms linear;
}
.account_edit_permission_input:focus {
    outline: none;
}
.account_edit_save {
    position: absolute;
    margin-left: 820px;
    margin-top: 265px;
    background: none;
    border: 0;
    transition: 350ms linear;
}
.account_edit_save:hover {
    filter: drop-shadow(0px 0px 6px rgba(241, 241, 241, 0.9));
}
.add_popup {
    position: fixed;
    background-color: var(--backgroundDarkColor);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -2px var(--shadowColor);
    width: 650px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -325px;
    z-index: 10;
    visibility: hidden;
}
.add_popup img {
    margin-left: 15px;
    margin-top: 15px;
}
.add_popup_username {
    position: absolute;
    margin-top: 25px;
    margin-left: 15px;
}
.add_popup_username_input {
    position: absolute;
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
    margin-top: 25px;
    margin-left: -105px;
}
.add_popup_rank {
    position: absolute;
    margin-top: 25px;
    margin-left: 250px;
}
.add_popup_rank_input {
    position: absolute;
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
    margin-top: 25px;
    margin-left: -40px;
}
.add_popup_uuid {
    position: absolute;
    margin-top: 115px;
    margin-left: -72px;
}
.add_popup_uuid_input {
    position: absolute;
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
    margin-top: 25px;
    margin-left: -40px;
    width: 400px;
}
.add_popup_discord {
    position: absolute;
    margin-top: 180px;
    margin-left: -75px;
}
.add_popup_discord_input {
    position: absolute;
    background: var(--backgroundDarkColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    border-color: rgb(161, 166, 170);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
    margin-top: 25px;
    margin-left: -75px;
    width: 400px;
}
.add_popup_permission_input {
    position: absolute;
    background: var(--backgroundColor);
    font-family: 'Roboto Mono', monospace;
    color: rgb(161, 166, 170);
    margin-left: -50px;
    margin-top: 30px;
    width: 40em;
    height: 11em;
    resize: none;
    transition: 350ms linear;
}
.add_popup_permission_input:focus {
    outline: none;
}
.add_popup_permission {
    position: absolute;
    margin-top: 240px;
    margin-left: -75px;
}
.add_popup_save {
    position: absolute;
    margin-left: 465px;
    margin-top: 320px;
    background: none;
    border: 0;
    transition: 350ms linear;
}
.add_popup_save:hover {
    filter: drop-shadow(0px 0px 6px rgba(241, 241, 241, 0.9));
}
.add_popup_exit {
    position: absolute;
    margin-left: 465px;
    margin-top: -30px;
    background: none;
    border: 0;
    transition: 350ms linear;
}
.add_popup_exit:hover {
    filter: drop-shadow(0px 0px 6px rgba(241, 241, 241, 0.9));
}


@media screen and (max-width: 1300px){
    .account_edit_permission_input {
        width: 30em;
        height: 15em;
    }
    .account_edit_save {
        margin-top: 305px;
        margin-left: 500px;
    }
    #name {
        height: 450px;
    }
}
@media only screen and (min-width: 1300px) {
    .account {
        width: 90vh;  
    }
    .account_edit{
        margin-left: 550px;
    }
    .account_delete{
        margin-left: 600px;
    }
}